name: CI
on:
  - pull_request
  - push
jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          coverage: none
      - name: Composer install
        run: composer install --no-interaction --no-ansi --no-progress
      - name: Run Psalm
        run: vendor/bin/psalm --no-progress --shepherd --show-info=false --stats
  phpunit:
    needs: psalm
    name: "PHPUnit (PHP: ${{ matrix.php-version }}-${{ matrix.connection }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - 8.3
          - 8.4
        connection:
          - 'pdo-sqlite://:memory:'
          - 'pdo-pgsql://postgres:postgres@localhost/fusio'
          - 'pdo-mysql://root:test1234@localhost/fusio'
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: fusio
        ports:
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
      - name: Setup MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -e "CREATE DATABASE fusio;" -uroot -proot
          mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'test1234';" -uroot -proot
      - name: Composer install
        run: composer install --no-interaction --no-ansi --no-progress
      - name: Wait for
        env:
          APP_CONNECTION: ${{ matrix.connection }}
        run: php bin/fusio system:wait_for
      - name: Run PHPUnit
        env:
          APP_CONNECTION: ${{ matrix.connection }}
        run: vendor/bin/phpunit
